@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: #c3c3c3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #727272;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Optional: Hover styles */
::-webkit-scrollbar-thumb:hover {
  background-color: #a7a7a7;
}